.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 11rem 0 11rem 0;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.9375rem;
    border: 1px solid rgba(10, 127, 156, 0.50);
    background: #F2F2F2;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.10);
    width: 38rem;
    height: 40rem;
    flex-shrink: 0;
    justify-content: center;
    gap: 1rem;
}
.login-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.login-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
}
.login-description {
    color: #858585;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    line-height: 140.625%;
    margin: 0;
}
.login-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.register-link {
    color: #0A7F9C;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    line-height: 140.625%;
}
.email-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}
.email-textfield {
    width: 23.7rem;
    height: 2.5rem;
    border-radius: 0.3125rem;
    border: 1px solid #0A7F9C;
    font-family: 'Roboto';
    font-size: 0.85rem;
    padding-right: 2.6rem;
    padding-left: 1rem;
}
.email-textfield:focus {
    outline-color: #004f63;
}
.password-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}
.toggle-password {
    position: absolute;
    right: 15px; 
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}
.eye-open, .eye-closed {
    height: 20px; /* Adjust based on your design */
    width: 20px; /* Adjust based on your design */
}
.password-textfield {
    width: 23.7rem;
    height: 2.5rem;
    border-radius: 0.3125rem;
    border: 1px solid #0A7F9C;
    font-family: 'Roboto';
    font-size: 0.85rem;
    padding-right: 2.6rem;
    padding-left: 1rem;
}
.password-textfield:focus {
    outline-color: #004f63;
}
.email-title {
    color: #292929;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 700;
    line-height: 140.625%;
}
.password-title {
    color: #292929;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140.625%;
}
.separator-text {
    color: #858585;
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
}
.line {
    width: 9rem;
    height: 1px;
    background-color: #858585;
}
.separator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.login-button {
    border-radius: 0.3125rem;
    background: #0A7F9C;
    width: 27.5rem;
    height: 2.7rem;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}
.login-button:hover {
    background: #17a8cc;
}
.login-button:focus {
    background-color: #004f63;
}
.google-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.3125rem;
    border: 1px solid #0A7F9C;
    height: 2.5rem;
    gap: 0.5rem;
    width: 27.2rem;
    flex-shrink: 0;
}
.google-logo-text {
    color: #0A7F9C;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1px 0 0 0;
}
.warning-text {
    color: #FF0000;
    text-align: center;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .main-container {
        margin: 6rem 0 11rem 0;
    }
    .login-container {
        border-radius: 0.5rem;
        width: 22rem;
        height: 32rem;
    }
    .login-title {
        font-size: 1.5rem;
    }
    .login-description {
        font-size: 0.875rem;
        margin: 0 4rem 0 4rem;
    }
    .login-section-container {
        gap: 1rem;
    }
    .login-form-container {
        gap: 1rem;
    }
    .register-link {
        font-size: 0.875rem;
    }
    .email-textfield {
        width: 15.2rem;
        font-size: 0.875rem;
    }
    .password-textfield {
        width: 15.2rem;
        font-size: 0.875rem;
    }
    .email-title {
        font-size: 0.875rem;
    }
    .password-title {
        font-size: 0.875rem;
    }
    .separator-text {
        font-size: 0.875rem;
    }
    .line {
        width: 5.3rem;
    }
    .login-button {
        font-size: 0.875rem;
        width: 19rem;
    }
    .google-button {
        width: 19rem;
    }
    .google-logo {
        height: 0.875rem;
        width: 0.875rem;
    }
    .google-logo-text {
        font-size: 0.875rem;
    }
}