:root {
    --primary-color: #0a7f9c;
    --dark-primary-color: #032831;
    --secondary-color: #71878d;
    --background-color: #031317;
    --shadow-color: #0313172d;
    --light-color: #fffafa;
    --highlight-color: #6dd3ec;
    --highlight-secondary-color: #2cb0d1;
    --dark-transparent-color: #0000001a;
    --transparent-color: #00000000;
    --warning-color: #9c0a0a;
    --success-color: #0a9c1d;
}
html::-webkit-scrollbar {
    display: none !important;
}
html {
    scroll-behavior: smooth;
    font-family: 'Roboto', system-ui, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-color);
    background-color: var(--background-color);
    font-size: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--light-color);
}
button {
    cursor: pointer;
    border: none;
    font-family: 'Roboto';
    font-size: 0.85rem;
    font-weight: 600;
}
input {
    font-family: 'Roboto';
    font-size: 0.85rem;
    font-weight: 400;
}
input::placeholder {
    color: var(--secondary-color);
}
.wholepage-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    body, html {
        max-width: 100vw;
        overflow-x: hidden;
    }
}