.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8.5rem 0 11rem 0;
    gap: 2.5rem;
}

.progress-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.milestone-1 {
    width: 1rem;
    height: 1rem;
    border-radius: 2.5rem;
    background: var(--primary-color);
}

.road-1 {
    width: 16.1875rem;
    height: 0.1875rem;
    background: var(--light-primary-color);
}

.milestone-2 {
    width: 1rem;
    height: 1rem;
    border-radius: 2.5rem;
    background: var(--light-primary-color);
}

.road-2 {
    width: 16.1875rem;
    height: 0.1875rem;
    background: var(--light-primary-color);
}

.milestone-3 {
    width: 1rem;
    height: 1rem;
    border-radius: 2.5rem;
    background: var(--light-primary-color);
}

.road-3 {
    width: 16.1875rem;
    height: 0.1875rem;
    background: var(--light-primary-color);
}

.milestone-4 {
    width: 1rem;
    height: 1rem;
    border-radius: 2.5rem;
    background: var(--light-primary-color);
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 38rem;
    height: 37rem;
    flex-shrink: 0;
    gap: 1rem;
    border-radius: 1rem;
    background: var(--light-color);
    box-shadow: 0px 0px 10px 2px var(--dark-shadow-color);
}

.register-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.register-title {
    margin: 0;
    font-size: 1.875rem;
    font-weight: 900;
    color: var(--dark-primary-color);
}

.register-description {
    margin: 0;
    text-align: center;
    color: var(--grey-primary-color);
}

.login-link {
    color: var(--primary-color);
}

.login-link:hover {
    color: var(--highlight-color);
}

.register-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.email-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.email-title {
    font-weight: 700;
    color: var(--dark-primary-color);
}

.email-textfield {
    width: 23.7rem;
    height: 2.5rem;
    padding-right: 2.6rem;
    padding-left: 1rem;
    font-size: 0.85rem;
    color: var(--dark-primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.email-textfield:focus {
    outline-color: var(--dark-primary-color);
}

.password-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.toggle-password {
    position: absolute;
    right: 15px; 
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-open, .eye-closed {
    width: 20px;
    height: 20px;
}

.eye-closed {
    display: none;
}

.password-title {
    font-weight: 700;
    color: var(--dark-primary-color);
}

.password-textfield {
    width: 23.7rem;
    height: 2.5rem;
    padding-right: 2.6rem;
    padding-left: 1rem;
    font-size: 0.85rem;
    color: var(--dark-primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.password-textfield:focus {
    outline-color: var(--dark-primary-color);
}

.confirm-password-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.confirm-password-title {
    font-weight: 700;
    color: var(--dark-primary-color);
}

.confirm-password-textfield {
    width: 23.7rem;
    height: 2.5rem;
    padding-right: 2.6rem;
    padding-left: 1rem;
    font-size: 0.85rem;
    color: var(--dark-primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.confirm-password-textfield:focus {
    outline-color: var(--dark-primary-color);
}

.next-button {
    height: 2.7rem;
    width: 27.5rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.next-button:hover {
    background: var(--highlight-color);
}

.next-button:focus {
    background-color: var(--dark-primary-color);
}

.separator-text {
    text-align: center;
    font-weight: 400;
    color: var(--grey-primary-color);
}

.line {
    width: 9rem;
    height: 1px;
    background-color: var(--grey-primary-color);
}

.separator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.google-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    gap: 0.5rem;
    flex-shrink: 0;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
}

.google-logo-text {
    margin: 1px 0 0 0;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    color: var(--primary-color);
}

.warning-text {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
    color: var(--warning-color);
}

@media screen and (max-width: 768px) { 
    .main-container {
        margin: 6rem 0 11rem 0;
    }

    .road-1 {
        width: 5rem;
        height: 0.15rem;
    }

    .road-2 {
        width: 5rem;
        height: 0.15rem;
    }

    .road-3 {
        width: 5rem;
        height: 0.15rem;
    }

    .register-container {
        width: 22rem;
        height: 32rem;
        border-radius: 0.5rem;
    }

    .register-heading-container {
        gap: 0.5rem;
    }

    .register-title {
        font-size: 1.5rem;
    }

    .register-description {
        margin: 0 6rem 0 6rem;
        font-size: 0.875rem;
    }

    .login-link {
        font-size: 0.875rem;
    }

    .email-title {
        font-size: 0.875rem;
    }

    .email-textfield {
        width: 15.2rem;
        font-size: 0.875rem;
    }

    .password-title {
        font-size: 0.875rem;
    }

    .password-textfield {
        width: 15.2rem;   
        font-size: 0.875rem;
    }

    .confirm-password-title {
        font-size: 0.875rem;
    }

    .confirm-password-textfield {
        width: 15.2rem;
        font-size: 0.875rem;
    }

    .next-button {
        width: 19rem;
        font-size: 0.875rem;
    }
}