.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0 10rem 0;
    gap: 2.5rem;
}
.appointment-page-title {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.appointment-card-container {
    color: black;
    border-radius: 0.6375rem;
    background: #F2F2F2;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.50);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    width: 39rem;
    gap: 5rem;
}
.appointment-date-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.appointment-date-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 140.625%;
    margin: 0;
}
.appointment-date-subtitle {
    color: #8D8D8D;
    line-height: 140.625%;
    margin: 0;
}
.scheduler-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 2rem;
    gap: 5rem;
}
.schedule-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
}
.schedule-title {
    color: #0A7F9C;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.45rem 0 0 0;
}
.custom-radio {
    font-size: 0.875rem;
    margin: 0;
    padding: 1rem;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.custom-radio label {
    padding: 1rem;
    color: #A5D1DC;
    border: solid 1px #A5D1DC;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: all .2s ease-in-out;
    text-align: center;
    box-sizing: border-box;
    display: block;
}
.custom-radio input[type="radio"] {
    display: none;
}
.custom-radio input[type="radio"]:disabled + label {
    cursor: default;
    color: #8D8D8D;
    border-color: #8D8D8D;
    opacity: 0.5;
}
.custom-radio input[type="radio"]:checked + label {
    border-color: #0A7F9C;
    border-width: 1.5px;
    color: #0A7F9C;
}

.appointment-service-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.appointment-service-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 140.625%;
    margin: 0;
}
.appointment-service-subtitle {
    color: #8D8D8D;
    line-height: 140.625%;
    margin: 0;
}
.service-link {
    color: #0A7F9C;
}
.submit-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2.95rem;
}
.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 0.3125rem;
    background: #0A7F9C;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140.625%;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.submit-button:hover {
    background: #17a8cc;
}
.flatpickr-input {
    display: none !important;
}
.placeholder-text {
    color: #8D8D8D;
    margin-right: -4.5rem;
    font-size: 1rem;
    font-weight: 400;
}
.container {
    align-items: center;
    justify-content: center;
}
.setting-description {
    background-color: #0A7F9C; 
    border-radius: 15px 15px 0px 0px;
    min-width: 230px;
    width: 100% !important;
    max-width: 480px;
}
.description {
    font-size: 12px;
    margin-left: 5px !important;
    letter-spacing: 0.8px;
    padding-bottom: 10px;
    font-family: Arial !important;
    margin: 0;
}
.setting-description-text {
    padding-top: 10px !important;
    color: #ffffff;
}
.wrapper-dropdown {
    position: relative;
    display: inline-block;
    min-width: 231.5px;
    width: 100% !important;
    max-width: 483px;
    padding: 0px 0px 0px 0px;
    min-height: 35px;
    border-radius: 0px 0px 15px 15px;
    background: #0A7F9C;
    text-align: left;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.arrow {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    rotate: 180deg;
}
.selected-display {
    margin-left: 20px;
}
svg {
    transition: all 0.3s;
}
.wrapper-dropdown::before {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -2px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}
.rotated {
    transform: rotate(-180deg);
}
.wrapper-dropdown .dropdown {
    transition: 0.3s;
    position: absolute;
    top: 120%;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 99;
    border-radius: 15px;
    box-shadow: inherit;
    background: inherit;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    visibility: hidden;
}
.wrapper-dropdown .dropdown li {
    padding: 0 15px;
    line-height: 45px;
    overflow: hidden;
}
.wrapper-dropdown .dropdown li:last-child {
    border-bottom: none;
}
.dropdown {
    padding: 0.5rem !important;
}
.wrapper-dropdown .dropdown li:hover {
    background-color: #17a8cc;
    border-radius: 10px;
}
.wrapper-dropdown.active .dropdown {
    opacity: 1;
    visibility: visible;
    border-radius: 15px;
}
.wrapper-dropdown .dropdown{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.warning-text {
    display: flex;
    background-color: #9c0a0a;
    color: white;
    gap: 1rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.booked {
    color: grey;
    pointer-events: none;
}

@media screen and (max-width: 768px) { 
    .main-container {
        margin: 6rem 0 11rem 0;
    }
    .appointment-page-title {
        font-size: 2.1rem;
    }
    .appointment-card-container {
        width: 18rem;
        gap: 3rem;
        padding: 2rem;
    }
    .appointment-date-section {
        gap: 0.25rem;
    }
    .appointment-date-title {
        font-size: 1.5rem;
    }
    .appointment-date-subtitle {
        font-size: 0.875rem;
    }
    .scheduler-container {
        flex-direction: column;
        gap: 0rem;
        align-items: center;
        margin-left: -0.6rem;
    }
    .schedule-title {
        margin: 0;
    }
    .appointment-service-section {
        gap: 0.5rem;
    }
    .appointment-service-title {
        font-size: 1.5rem;
    }
    .appointment-service-subtitle {
        font-size: 0.875rem;
    }
    .submit-container {
        margin-right: 0;
    }
    .submit-button {
        font-size: 0.875rem;
    }
    .placeholder-text {
        margin-right: -4rem;
        font-size: 0.875rem;
    }
    .setting-description {
        background-color: #0A7F9C; 
        border-radius: 9px 9px 0px 0px;
        min-width: 230px;
        width: 100% !important;
        max-width: 480px;
    }
    .time-slot-adder-container {
        margin-top: 1rem;
    }
    .wrapper-dropdown {
        border-radius: 0px 0px 9px 9px;
    }
    .selected-display {
        font-size: 1rem;
    }
    .wrapper-dropdown .dropdown {
        border-radius: 5px;
        box-shadow: inherit;
        background: inherit;
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: 0;
        visibility: hidden;
    }
    .dropdown {
        padding: 0.3rem !important;
    }
    .wrapper-dropdown.active .dropdown {
        border-radius: 9px;
    }
    .wrapper-dropdown .dropdown{
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .warning-text {
        border-radius: 0.25rem;
    }
}