.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.contact-title {
    margin: 10rem 0 0 0;
    text-align: center;
    text-shadow: 0px 4px 10px var(--dark-shadow-color);
    font-size: 12.5rem;
    font-weight: 700;
    font-variant: all-small-caps;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin: 0 20rem 0 20rem;
    margin-bottom: 20rem;
    padding: 0;
    background-color: var(--light-color);
    color: var(--dark-primary-color);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px var(--dark-shadow-color);
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem;
}

.contact-heading-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-form-title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 900;
}

.contact-form-subtitle {
    margin: 0;
    color: var(--grey-primary-color);
}

.contact-information-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contact-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.contact-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.contact-content {
    margin: 0;
    color: var(--grey-primary-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-input-container1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contact-label {
    margin: 0;
}

.contact-input {
    height: 1.5rem;
    width: 15rem;
    padding: 0.45rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.contact-input:focus {
    outline: 1px solid var(--dark-primary-color);
}

.contact-textarea {
    height: 15rem;
    width: 32rem;
    padding: 0.45rem;
    resize: none;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.contact-textarea:focus {
    outline: 1px solid var(--dark-primary-color);
}

.send-button {
    height: 2.7rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--light-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.send-button:hover {
    background-color: var(--highlight-color);
}

.contact-map-image {
    height: 55rem;
}

.contact-input2 {
    height: 1.5rem;
    width: 32rem;
    padding: 0.45rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.contact-input2:focus {
    outline: 1px solid var(--dark-primary-color);
}

@media screen and (max-width: 768px) {
    .main-container {
        gap: 3rem;
    }

    .contact-title {
        margin: 6rem 0 0 0;
        width: 23rem;
        font-size: 5rem;
        letter-spacing: -0.1rem;
    }

    .contact-container {
        flex-direction: column-reverse;
        gap: 2.5rem;
        width: 22rem;
        border-radius: 0.5rem;
    }

    .contact-form-container {
        width: 20rem;
        gap: 2.5rem;
        padding-top: 0;
    }

    .contact-form-title {
        font-size: 1.25rem;
    }

    .contact-form-subtitle {
        font-size: 0.85rem;
    }

    .contact-information-container {
        gap: 0.25rem;
    }

    .contact-icon {
        height: 1.25rem;
        width: 1.25rem;
    }

    .contact-content {
        font-size: 0.85rem;
    }

    .contact-input-container1 {
        flex-direction: column;
        gap: 1rem;
    }

    .contact-input {
        height: 1.25rem;
        width: 19rem;
        font-size: 0.85rem;
    }

    .contact-input2 {
        height: 1.25rem;
        width: 19rem;
        font-size: 0.85rem;
    }

    .contact-textarea {
        height: 1.25rem;
        width: 19rem;
        font-size: 0.85rem;
    }

    .send-button {
        width: 20rem;
        font-size: 0.85rem;
    }

    .contact-map-image {
        height: 25.7rem;
    }
}