.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0 10rem 0;
    gap: 2.5rem;
}
.account-page-title {
    text-align: center;
    text-shadow: 0px 4px 4px var(--dark-shadow-color);
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}
.link-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.account-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background: var(--primary-color);
    box-shadow: 0px 0px 10px 2px var(--dark-shadow-color);
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}
.appointment-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background: var(--light-color);
    color: var(--primary-color);
    box-shadow: 0px 0px 10px 2px var(--dark-shadow-color);
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}
.appointment-link:hover {
    background: var(--light-highlight-color);
}
.account-card-container {
    color: var(--dark-color);
    border-radius: 0.7rem;
    background: var(--light-color);
    box-shadow: 0px 0px 10px 2px var(--dark-shadow-color);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
.account-title {
    margin: 0;
    color: var(--dark-primary-color);
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
}
.information-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.account-data-title {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.input-label, .phone-input-label {
    margin: 0;
    color: var(--dark-primary-color);
    font-weight: 600;
}
.text-input {
    width: 23.7rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    font-size: 0.85rem;
    padding-right: 2.6rem;
    padding-left: 1rem;
}
.text-input:focus {
    outline-color: var(--dark-primary-color);
}
.text-input:disabled {
    color: var(--grey-primary-color);
    border: 1px solid var(--grey-primary-color);
    cursor: not-allowed;
}
.text-input:not(:disabled) {
    cursor: text;
}
.phone-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.phone-text-input {
    width: 23.7rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    font-size: 0.85rem;
    padding-right: 2.6rem;
    padding-left: 1rem;
}
.phone-text-input:focus {
    outline-color: var(--dark-primary-color);
}
.save-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;
    background: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    font-weight: 700;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.save-button:hover {
    background: var(--highlight-color);
}
.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: 20rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    font-size: 1.25rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.logout-button:hover {
    background: var(--highlight-color);
}
.warning-text {
    color: var(--warning-color);
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 768px) { 
    .main-container {
        margin: 6rem 0 11rem 0;
        gap: 2rem;
    }
    .account-page-title {
        font-size: 3rem;
    }
    .link-container {
        gap: 0.5rem;
    }
    .account-link {
        width: 10rem;
        font-size: 0.85rem;
    }
    .appointment-link {
        width: 10rem;
        font-size: 0.85rem;
    }
    .account-card-container {
        width: 18rem;
        padding: 2rem;
        gap: 2rem;
    }
    .account-title {
        font-size: 1.25rem;
    }
    .information-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .name-container {
        flex-direction: column;
        gap: 1rem;
    }
    .input-container {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    .input-label {
        font-size: 0.875rem;
    }
    .text-input {
        width: 15.2rem;
        font-size: 0.875rem;
    }
    .phone-text-input {
        width: 15.2rem;
        font-size: 0.875rem;
    }
    .save-button {
        font-size: 0.875rem;
        margin-right: 0.25rem;
    }
    .logout-button {
        gap: 0.5rem;
        width: 15rem;
        height: 3rem;
        font-size: 1.25rem;
    }
}