.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8.5rem 0 11rem 0;
    gap: 2.5rem;
}
.progress-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.milestone-1 {
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 2.5rem;
    background: #0A7F9C;
}
.road-1 {
    width: 16.1875rem;
    height: 0.1875rem;
    background: #0A7F9C;
}
.milestone-2 {
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 2.5rem;
    background: #0A7F9C;
}
.road-2 {
    width: 16.1875rem;
    height: 0.1875rem;
    background: #0A7F9C;
}
.milestone-3 {
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 2.5rem;
    background: #0A7F9C;
}
.road-3 {
    width: 16.1875rem;
    height: 0.1875rem;
    background: #A5D1DC;
}
.milestone-4 {
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 2.5rem;
    background: #A5D1DC;
}
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.9375rem;
    border: 1px solid rgba(10, 127, 156, 0.50);
    background: #F2F2F2;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.10);
    width: 38rem;
    height: 40rem;
    flex-shrink: 0;
    justify-content: center;
    gap: 2rem;
}
.register-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.register-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
}
.register-description {
    color: #858585;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    line-height: 140.625%;
    margin: 0;
}
.login-link {
    color: #0A7F9C;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    line-height: 140.625%;
}
.register-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.first-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}
.first-name-title {
    color: #292929;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 700;
    line-height: 140.625%;
}
.first-name-textfield {
    width: 23.7rem;
    height: 2.5rem;
    border-radius: 0.3125rem;
    border: 1px solid #0A7F9C;
    font-family: 'Roboto';
    font-size: 0.85rem;
    padding-right: 2.6rem;
    padding-left: 1rem;
}
.first-name-textfield:focus {
    outline-color: #004f63;
}
.last-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}
.last-name-title {
    color: #292929;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 700;
    line-height: 140.625%;
}
.last-name-textfield {
    width: 23.7rem;
    height: 2.5rem;
    border-radius: 0.3125rem;
    border: 1px solid #0A7F9C;
    font-family: 'Roboto';
    font-size: 0.85rem;
    padding-right: 2.6rem;
    padding-left: 1rem;
}
.last-name-textfield:focus {
    outline-color: #004f63;
}
.phone-number-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}
.phone-number-title {
    color: #292929;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 700;
    line-height: 140.625%;
}
.phone-number-textfield {
    width: 23.7rem;
    height: 2.5rem;
    border-radius: 0.3125rem;
    border: 1px solid #0A7F9C;
    font-family: 'Roboto';
    font-size: 0.85rem;
    padding-right: 2.6rem;
    padding-left: 1rem;
}
.phone-number-textfield:focus {
    outline-color: #004f63;
}
.submit-button {
    border-radius: 0.3125rem;
    background: #0A7F9C;
    height: 2.7rem;
    width: 27.5rem;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
}
.submit-button:hover {
    background: #17a8cc;
}
.submit-button:focus {
    background-color: #004f63;
}
.warning-text {
    color: #FF0000;
    text-align: center;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
@media screen and (max-width: 768px) { 
    .main-container {
        margin: 6rem 0 11rem 0;
    }
    .road-1 {
        width: 5rem;
        height: 0.15rem;
    }
    .road-2 {
        width: 5rem;
        height: 0.15rem;
    }
    .road-3 {
        width: 5rem;
        height: 0.15rem;
    }
    .register-container {
        border-radius: 0.5rem;
        width: 22rem;
        height: 32rem;
    }
    .register-heading-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    .register-title {
        font-size: 1.5rem;
    }
    .register-description {
        font-size: 0.875rem;
    }
    .first-name-title {
        font-size: 0.875rem;
    }
    .first-name-textfield {
        font-size: 0.875rem;
        width: 15.2rem;
    }
    .last-name-title {
        font-size: 0.875rem;
    }
    .last-name-textfield {
        font-size: 0.875rem;
        width: 15.2rem;
    }
    .phone-number-title {
        font-size: 0.875rem;
    }
    .phone-number-textfield {
        font-size: 0.875rem;
        width: 15.2rem;
    }
    .submit-button {
        width: 19rem;
        font-size: 0.85rem;
    }
}