.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 22rem;
    margin-top: 1rem;
}
.title {
    color: #0A7F9C;
    font-size: 2.25rem;
    font-weight: 700;
}
.title-warning-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
}
.appointment-preview-schedule-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 1rem;
}
.appointment-calendar-preview-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 0.9375rem;
    width: 41rem;
    height: 46.3rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
}
.scheduler-title {
    color: #0A7F9C;
    text-align: left;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
}
.appointment-scheduler-container {
    background-color: #ffffff;
    height: 46.3rem;
    padding: 1.5rem;
    width: 41rem;
    border-radius: 0.9375rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
}
.warning-sign {
    display: flex;
    background-color: #9c0a0a;
    color: white;
    width: fit-content;
    gap: 1rem;
    padding: 0.25rem 1rem 0.25rem 1rem; 
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.alert-success {
    display: flex;
    background-color: #0a9c11;
    color: white;
    gap: 1rem;
    width: fit-content;
    padding: 0.25rem 1rem 0.25rem 1rem; 
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.scheduler-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5rem;
}
.time-slot-adder-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.available-time-slot-title {
    color: #0A7F9C;
    font-size: 1.25rem;
}
.time-slot-title {
    color: #0A7F9C;
    font-size: 1.25rem;
}
.add-button {
    border-radius: 0.3125rem;
    background: #0A7F9C;
    margin-left: 1rem;
    width: 6rem;
    height: 2.7rem;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}
.add-button:hover {
    background: #17a8cc;
}
.slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.3125rem;
    border: 2px solid #17a8cc;
    color: #17a8cc;
    height: 2.5rem;
    font-weight: 500;
}
.container {
    align-items: center;
    justify-content: center;
}
.setting-description {
    background-color: #0A7F9C; 
    border-radius: 15px 15px 0px 0px;
    min-width: 231.5px;
    width: 100% !important;
    max-width: 483px;
}
.description {
    font-size: 12px;
    margin-left: 5px !important;
    letter-spacing: 0.8px;
    padding-bottom: 5px;
    font-family: Arial !important;
    margin: 0;
}
.setting-description-text {
    padding-top: 18px !important;
    color: #ffffff;
}

.wrapper-dropdown {
    position: relative;
    display: inline-block;
    min-width: 231.5px;
    width: 100% !important;
    max-width: 483px;
    padding: 0px 0px 0px 0px;
    min-height: 44px;
    border-radius: 0px 0px 15px 15px;
    background: #0A7F9C;
    text-align: left;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.arrow {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    rotate: 180deg;
}
.selected-display {
    margin-left: 20px;
}
svg {
    transition: all 0.3s;
}
.wrapper-dropdown::before {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -2px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}
.rotated {
    transform: rotate(-180deg);
}
.wrapper-dropdown .dropdown {
    transition: 0.3s;
    position: absolute;
    top: 120%;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 99;
    border-radius: 15px;
    box-shadow: inherit;
    background: inherit;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    visibility: hidden;
}
.wrapper-dropdown .dropdown li {
    padding: 0 15px;
    line-height: 45px;
    overflow: hidden;
}
.wrapper-dropdown .dropdown li:last-child {
    border-bottom: none;
}
.dropdown {
    padding: 0.5rem !important;
}
.wrapper-dropdown .dropdown li:hover {
    background-color: #17a8cc;
    border-radius: 10px;
}
.wrapper-dropdown.active .dropdown {
    opacity: 1;
    visibility: visible;
    border-radius: 15px;
}
.wrapper-dropdown .dropdown{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.time-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 0.25rem;
}
.time-slot.booked {
    color: #9c0a0a;
}

.time-slot.available {
    color: #0a9c11;
}
.highlight-jan15-2024 {
    background-color: #ff6868;
    color: white;
}
.delete-button {
    border-radius: 0.3125rem;
    background: #9c0a0a;
    width: 5rem;
    height: 1.35rem;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}
.delete-button:hover {
    background: #ff6868;
}
.schedule-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
}
.schedule-title {
    color: #0A7F9C;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.45rem 0 0 0;
}
.custom-radio {
    font-size: 0.85rem;
    margin: 0;
    padding: 1rem;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.custom-radio label {
    padding: 1rem;
    color: #A5D1DC;
    border: solid 1px #A5D1DC;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: all .2s ease-in-out;
    text-align: center;
    box-sizing: border-box;
    display: block;
}
.custom-radio input[type="radio"] {
    display: none;
}
.custom-radio input[type="radio"]:disabled + label {
    cursor: default;
    color: #8D8D8D;
    border-color: #8D8D8D;
    opacity: 0.5;
}
.custom-radio input[type="radio"]:checked + label {
    border-color: #0A7F9C;
    border-width: 1.5px;
    color: #0A7F9C;
}
.placeholder-text {
    color: #8D8D8D;
    margin-right: -4.5rem;
    font-size: 1rem;
    font-weight: 400;
}
.flatpickr-input {
    display: none !important;
}

.timeslot-selection-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    border: 0;
}
.control {
    display: inline-flex;
    position: relative;
    margin: 5px;
    cursor: pointer;
    border-radius: 99em;
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
}
.timeslot {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 32px;
    color: #0A7F9C;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius:0.25rem;
    .control:hover & {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.control input:checked ~ .timeslot {
    background-color: #0A7F9C;
    color: white;
}