.website-image, .gradient-background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.website-image {
    z-index: -100;
    width: 1920px;
    height: 1091px;
}
.gradient-background {
    z-index: -99;
    width: 1920px;
    height: 1091px;
    background: linear-gradient(180deg, var(--transparent-color) 25%, var(--dark-primary-color) 80%, var(--background-color) 100%);
}
@media screen and (max-width: 768px) {
    .website-image {
        width: 100%;
        height: 1091px;
        object-fit: cover;
        z-index: -100;
    }
    .gradient-background {
        width: 100%;
    }
}